@model int

<div class="row">
    <div class="col-5 ">
        <input type="submit" class="btn btn-danger form-control" value="Delete" asp-route-id="@Model" />
    </div>
    <div class="col-5">
        <a asp-action="Index" class="btn btn-primary form-control">Back to List </a>
    </div>
</div>