<div class="form-row">
    <div class="col-5 ">
        <input type="submit" class="btn btn-success form-control" value="Create" />
    </div>
    <div class="col-5">
        <a asp-action="Index" class="btn btn-primary form-control">Back to Index </a>
    </div>
</div>