@model int
<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-primary text-dark " asp-action="Edit" asp-route-ID="@Model"><i class="fas fa-edit"></i></a>
        <a class="btn btn-primary text-dark" asp-action="Details" asp-route-ID="@Model"><i class="fas fa-info-circle"></i></a>
        <a class="btn btn-primary text-dark" asp-action="Delete" asp-route-ID="@Model"><i class="fas fa-trash-alt"></i></a>
    </div>
</td>