@*@model SubCategoryAndCategoryViewModel*@
@model SubCategory
@*@using FoodChill.Extension*@
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Details Sub-Category</h2>
<br />
<div class="backgroundWhite">
    <fieldset disabled>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Category.Name" class="custom-label"></label>
            </div>

            <div class="col-5 offset-1">
                <input asp-for="Category.Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Name" class="col-form-label"></label>
            </div>

            <div class="col-5">
                <input asp-for="Name" readonly class="form-control" />
            </div>
        </div>
    </fieldset>

    <div class="form-group row ">
        <div class="col-8 offset-3">
            <partial name="_DetailsAndBackToListPartial" model="Model.ID" />
        </div>
    </div>
</div>


@*<div class="col-3 offset-1 ">
        @if (Model.SubCategoryList.Count() > 0)
        {
            <p> Existing Sub-Categories</p>
            <div id="SubcategoryList">
                <ul class="list-group"></ul>
            </div>
        }

    </div>*@

</div>